@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

.navbar {
	width: 100%;
	position: relative;
	padding: 0;
}
.logo {
	width: 100%;
	padding-top: .5rem;
	padding-bottom: .5rem;
	text-align: center;

}
.logo a {
	color: #000;
	font-size: 4rem;
	font-family: 'Dancing Script';
}
.logo a:hover {
	text-decoration: none;
	color: #000;
}
.header-list {
	display: flex;
	flex-direction: row;
	list-style: none;
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
	padding: 0;
}
.header-links:hover {
	color: #000;
	text-decoration: none;
}
.header-links {
	font-family: 'Work Sans';
	font-size: 1.2rem;
	padding-bottom: .5rem;
	padding-left: 10.72%;
	padding-right: 10.72%;
	color: #000;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	background: white;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
  }
.header-links:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid #000;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .header-links:hover, .header-links:focus, .header-links:active {
	color: #000;
  }
  .header-links:hover:before, .header-links:focus:before, .header-links:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
  }
