.profile-section {
	padding-bottom: 5rem;
	padding-top: 3rem;
	padding-left: 8%;
	padding-right: 5%;
	display: flex;
	flex-direction: row;
}

.profile-pic {
	width: 20vw;
	height: 20vw;
	margin-right: 5px;
	border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
}

.profile-pic:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
}

.profile-pic span {
    display: inline-block;
    padding-top: 50%;
}

.profile-name {
	font-weight: bold;
	font-size: 1.5rem;
	margin-top: 2rem;
}
.profile-date {
	font-weight: bold;
	font-size: 1.15rem;
}
.profile-data {
	width: 100%;
	margin-top: 2rem;
}
.profile-field {
	display: block;
	width: 20rem;
	border: 0;
	border-bottom: .091rem solid #000;
	background-color: white;
}
.profile-field:focus {
	outline: 0;
}
.profile-field:disabled {
	background-color: white;
	border-color: darkgrey;
}
.profile-icon {
	font-size: 2rem;
	margin-top: -1.2rem;
	margin-right: .8rem;
}
.right-column label, .left-column label  {
	font-size: 1.2rem;
	margin-top: 1.3rem;
}
.edit-button-profile {
	width: 57%;
	margin-left: 8%;
	margin-top: 2rem;
	padding: .7rem;
	border: 2px solid #000;
	font-size: 1.3rem;
	background-color: white;
	transition: .3s;
}
.edit-button-profile:focus {
	outline: 0;
}
.edit-profile-icon {
	font-size: 1.6rem;
}
.profile-field:-webkit-autofill,
.profile-field:-webkit-autofill:hover, 
.profile-field:-webkit-autofill:focus, 
.profile-field:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
::-webkit-input-placeholder {
	color: lightgray;
}
:-moz-placeholder { /* Firefox 18- */
	color: lightgray;  
}
::-moz-placeholder {  /* Firefox 19+ */
	color: lightgray;  
}
:-ms-input-placeholder {  
	color: lightgray;  
}