.product-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}
.card-style {
    margin-bottom: 5%;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link-to-pdp {
    color: #000;
}
.link-to-pdp:hover {
    color: #000;
    text-decoration: none;
}
.buy-product {
    width: 100%;
    padding-top: .6em;
    padding-bottom: .6em;
    border: 1px solid #000;
    background-color: whitesmoke;
    border-radius: 3px;
    color: #000;
    font-size: 1.1em;
    transition: .5s;
}
.buy-product:focus {
    outline: 0;
}
.buy-product:hover {
    border: 1px solid #cc5490;
    color: #cc5490;
    transition: .3s;
}
.icon-button {
    font-size: 1.6em;
    margin-left: 3%;
    vertical-align: -17%;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightpink;
    border-radius: 10px;
}